<div>
    <h1>Event Message</h1>
    <p>title <%=  title %></p>
    <p>description <%=  description %></p>
    <p>date <%= dateTime %></p>
    <p>location <%=  location %></p>
    <a href="<%=  link %>" >Click here to see details</a>
</di>
